@using Microsoft.AspNetCore.Identity
@using ESchool.Helpers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Здравствуйте @User.Identity.Name!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (User.IsInRole(Roles.Student) || User.IsInRole(Roles.Admin))
                {
                    <a class="dropdown-item" asp-controller="Home" asp-action="MyCourse">Мой курс</a>
                }
                @if (User.IsInRole(Roles.Teacher) || User.IsInRole(Roles.Admin))
                {
                    <a class="dropdown-item" asp-controller="Home" asp-action="CourseControl"> Курс</a>
                }
                @*<a class="dropdown-item" asp-controller="Questions" asp-action="Index">Личный кабинет</a>*@
                <a class="dropdown-item" asp-controller="PdfMaterials" asp-action="Index">Файлы</a>
                @*<a class="dropdown-item" asp-controller="TimeTables" asp-action="Index">Расписание</a>*@
                @if (User.IsInRole(Roles.Admin))
                {
                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Добавить преподаватель</a>
                    }
                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
        </li>

    }
</ul>