@using ESchool.Helpers
@model ESchool.Models.Course.Course

@{
    ViewData["Title"] = "Уже Зарегистрированы на курс";
}

<h1>Курс</h1>
<form >
    <div>   
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Вы уже зарегистрированы на курс
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseName)
            </dd>
            <dt class="col-sm-2">
                Длительность курса
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseStart) - @Html.DisplayFor(model => model.CourseEnd)
            </dd>

        </dl>
    </div>
</form>
<div>
    <a asp-controller="Courses" asp-action="Index">Курсы</a>
</div>


