@model ESchool.Models.Course.Course

@{
    ViewData["Title"] = "Уже Зарегистрированы на курс";
}

<h1>Курс</h1>
<form>
    <div>
        <hr />
        <div class="row">
            <p> Вы уже зарегистрированы на @Html.DisplayFor(model => model.CourseName)</p>
        </div>
        <div class="row">
            <p>Длительность курса : @Html.DisplayFor(model => model.CourseStart) - @Html.DisplayFor(model => model.CourseEnd)</p>
        </div>
        <div>
            <a asp-controller="Courses" asp-action="Index">Курсы</a>
        </div>
    </div>

</form>



