@model ESchool.Models.Course.Course

@{
    ViewData["Title"] = "Курс";
}

<h1>Курс</h1>

<h4>Редактировать курс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TeacherId" />
            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Название</label>
                <input type="text" asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="TimeTableId" class="control-label"></label>
            <input asp-for="TimeTableId" class="form-control" />
            <span asp-validation-for="TimeTableId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="CourseStart" class="control-label">Начало курса</label>
                <input asp-for="CourseStart" class="form-control" />
                <span asp-validation-for="CourseStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseEnd" class="control-label">Окончания курса</label>
                <input asp-for="CourseEnd" class="form-control" />
                <span asp-validation-for="CourseEnd" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="TeacherId" class="control-label">Преподаватель</label>
                <input type="hidden" asp-for="TeacherId" />
                <select class="form-control" asp-for="teacherid"
                    asp-items="@(new selectlist(model.teachers,"id","fullname"))">
                <option></option>
            </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
