@model ESchool.Models.ResultsRecord.ResultVM

@{
    ViewData["Title"] = "Результаты";
}

<h1>Результаты</h1>

<h4>Курс: @Html.DisplayFor(model => Model.Course)</h4>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Тема
            </th>
            <th>
                Баллы
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StudentScore)/@Html.DisplayFor(modelItem => item.TotalScore)
                </td>

            </tr>
        }
        <tr>
            <td>
                <b>Итоговая оценка за курс</b>
            </td>
            <td>
                <b>-</b>
            </td>

        </tr>
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="MyCourse">Назад</a>
</div>

