@using ESchool.Models.WordExercise
@model List<Question>

<form asp-controller="Exercises" asp-action="WExercise" method="post">
    <table>
        <tr> <th>Name</th> <th>Is Done</th> </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                @Html.EditorFor(model => model[i])
            </tr>
        }

    </table>
    <button type="button" id="examButton" class="btn-success" onclick="displayResults()">Submit</button>
</form>

<label id="pickedAnswers"></label>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#examButton").click(function () {
            $(".rb").show();
            $(".rb").attr("disabled", true);
        });
    });

    function displayResults() {
        document.getElementById("pickedAnswers").innerHTML = "";
        var results = document.getElementsByTagName('input');
        for (i = 0; i < results.length; i++) {

            if (results[i].type == "radio") {
                if (results[i].checked) {
                    document.getElementById("pickedAnswers").innerHTML += "Q " + results[i].name + ")" + "The selected answer is " + results[i].value + "<br>";
                }
            }
        }
    }
</script>