@model ESchool.Models.CourseTimeTable.AddEntryEditModel

@{
    ViewData["Title"] = "Новое Занятие";
}

<h1>Расписание</h1>

<h4>Добавить новое занятие в расписание</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="TimeTables" asp-action="AddEntry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseName" />
            <input type="hidden" asp-for="TimeTableId" />
            <div class="form-group">
                @*<label asp-for="CourseName" class="control-label"></label>*@
                <b>Название курса: </b> @Html.DisplayFor(model => model.CourseName)
            </div>

            <div class="form-group">
                <label asp-for="Activity" class="control-label">Название занятии</label>
                <input asp-for="Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Дата начала</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Дата окончания</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить в расписание" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Назад</a>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
